

p, h3 {
    color: white !important;
}


body {
    background-color:rgb(33, 37, 41) !important;
    color: white !important;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important ; 
    background-image: url(assets/backgroundimage.png);
    background-size: cover;
}

button {
    background-color: brown !important;
    border-color: rgb(241, 82, 42) !important;
}

h1 {
    text-align: center;
   
}

